<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head', {title: title}); %>
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <main>
      <div class='posts-container'>
        <% posts.forEach((post) => { %> 
          <div class='post-container'>
            <h2><%= post.title %></h2>
            <p><%= post.text %></p>
            <div class='info'>
              <% if (locals.currentUser && locals.currentUser.membership) { %>
                <p>Posted by <%= post.user.username %></p>
                <p><%= post.date %></p>
              <% } else { %>
                <p>Posted by HIDDEN</p>
                <p>HIDDEN DATE</p>
              <% } %>
            </div>
          </div>
        <% }); %> 
      </div>
    </main>
  </body>
</html>
